aa---
aalayout: page
aatitle: "关于"
aadescription: "愿世界和平"
aaheader-img: "img/about-bg.jpg"
aamultilingual: true
aa---

aa{% include multilingual-sel.html %}

aa<!-- Chinese Version -->
aa<div class="zh post-container">
aa    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
aa    {{ about_zh | markdownify }}
aa</div>

aa<!-- English Version -->
aa<div class="en post-container">
aa    {% capture about_en %}{% include about/en.md %}{% endcapture %}
aa    {{ about_en | markdownify }}
aa</div>
