---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        {% if site.sidebar == false %}  <!-- 不显示右边sidebar -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container">
                {% include featured-tags.html %}    <!-- 底部tags -->
                {% include friends.html %}          <!-- 底部友链 -->
            </div>

        {% else %}
            <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
                {{ content }}
            </div>

            {% if page.title!='计划' %}   <!-- 计划页不显示右边栏 -->
                <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
                    {% include featured-tags.html %}    <!-- 右边tags -->
                    {% include short-about.html %}      <!-- 右边简介 -->
                    {% include friends.html %}          <!-- 右边友链 -->
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>